.logo { 
    width: 100%;

    
    display :inline-block;
    
    

}
img {
    width: 216px;
    height: 326px;
}

.nav{
    list-style: none;
    display: inline-block;
    
    
    
    
    position: absolute;
    margin: 7px 530px;
    width: 600px;
    


    
    
    text-align: left;
    font-size: 25px;
    
    


    
    
}
a {
   
    text-decoration: none;
    margin-right: 10px;
    color: white;
    padding-bottom: 10px;
}
li{
    display: inline-block;
    
}
.header{
    
    height: 80px;
    width: 100%;
}
body{
    padding:0 ;
    margin: 0;
    
}
p{
    color:rgb(116, 7, 106);
    margin: 0;
}
*
{
    padding: 0;
    margin: 0;
    font-family:cursive;    
}

    body
    {
        background: url("images/1.jpg") no-repeat;
        background-size: cover;
        color: rgb(76, 87, 87);

    }
    .footer-contact
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 400px;
        line-height: 35px;
        height: auto;
    }   
    .footer-contact h1 
    {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        margin: 40px,0;
        
    }
    .footer-contact p
    {
        font-size: 20px;
        margin: 15px,0;
    }
    .footer-contact input
    {
        font-size: 16px;
        padding: 30px,50px;
        width: 100%;
        height: 50px;
        border: 0;
        border-radius: 50px ;
        outline: none;
        background-color: #180721;
        size: ;
        color: #efe9e9;
    }
    .footer-contact button
{
     position: absolute;
    left: 350;
    padding: 10px 15px; 
    margin: 20% -75%;
    border-radius: 10px;
    background-color: #180721;
    color: #f1f1f1;
    width:200px;
    bottom: 60;
    font-size: 18px;

}
.footer-contact button:hover
{
     background-color: #efe9e9;
     color: #180721;
     transition: 0.5s;
     
    
}
.bottom
{
    position: fixed ;
    top: 95%;
    right: 40%;
}
.logo { 
    width: 100%;
    display :inline-block;
}
img {
    width: 216px;
    height: 326px;
}

.nav{
    list-style: none;
    display: inline-block;
    position: absolute;
    margin: 7px 530px;
    width: 600px;
    text-align: left;
    font-size: 25px;
}
a {
   
    text-decoration: none;
    margin-right: 10px;
    color: white;
    padding-bottom: 10px;
}
li{
    display: inline-block;
    
}
.header{
    
    height: 80px;
    width: 100%;
}
body{
    padding:0 ;
    margin: 0;
    
}
p{
    color:rgb(116, 7, 106);
    margin: 0;
}
.contin{
    
    width: 100%;
    height: 1000px;
    margin: 20px auto;
}